# Problem Set 5: Using Pandas
Follow the instructions below.

### Importing the package

In [ ]:
#Import pandas
import pandas as pd

### 1. Loading and exploring the data
► Q1.1 Import the `EleTaiOneWeek.csv` file (located in the data folder) into a pandas dataframe.
  * Modify the code below so that the `CalcID` field is imported as a string 
  * Note how `parse_dates` imports the `StartDate`,`EndDate`, and `Fixtime` fields as date fields

In [ ]:
#Load the data as instructed
df = pd.read_csv('../data/EleTaiOneWeek.csv',
                 parse_dates=['StartDate','EndDate','Fixtime']
                )

---
► Q1.2 Display the first 5 records in the dataframe

In [ ]:
#Display the "head" (i.e. the first 5 records) of the dataframe

---
► Q1.3 Display the data types of each column

In [ ]:
#Display the data types of each column

---
► Q1.4 List each unique value in the `MovDataID` column

In [ ]:
#List each unique value in the MovDataID column

---
► Q1.5 How many unique dates are in the `Fixtime` field?

In [ ]:
#Display the number of values in the `Fixtime` column

---
### 2. Subsetting data

► Q2.1 Extract values in the `X` column into a variable called `xCoords`

In [ ]:
#Extract the X values into a series called xCoords

---
► Q2.2 Display the last 10 values in the `Xcoords` series

In [ ]:
#Display the last 10 values in the series

---
► Q2.3 Create a dataframe of just the `X` and `Y` columns and show the head (first 5 rows) of the dataframe

In [ ]:
#Create a dataframe of just the X and Y columns and show the first 5 rows of data
dfXY = 
dfXY.head()

---
► Q2.4 Create a Boolean mask (`dfGeorgeMask`) for all records where `MovDataID` is "George"

In [ ]:
#Create Boolean mask where MovDataID has the value "George"
mask_George =

---
► Q2.5 Select all records where the MovDataID equals "George" into a dataframe called `dfGeorge`
 * *Feel free to use the Boolean mask above or use other techniques.*

In [ ]:
#Create a new dataframe of just records where MovDataID is "George"
dfGeorge = 
dfGeorge.head()

---
### 3. Answering questions with the data
► Q3.1 If the 'Y' column represents latitude, what's the southern most location George has been seen?

In [ ]:
#Display the southern most location of the "George" subset

---
► Q3.2 Somehow demonstrate that George been seen north of 6.23°N **28** times.

---
► Q3.3 How many times has George been seen north of 6.23°N *and* west of -7.62°W?

► Q3.4 What's the *earliest* "Fixtime" date George has been seen 6.23°N and west of -7.62°W?

## A cool plot! 
If we set the index of our table to a time column, then plot the XY coordinates, we can visualize the track of our elephant...

In [ ]:
#Plot the path of George!
dfGeorge.set_index('Fixtime').plot(x='X',y='Y');

See if you can to it with another elephant. You'll have to subset the table for a different individual, then repeat the steps above...

In [ ]:
#Plot the path of Cami

---
### 4. Grouping/aggregating data
► Q4.1 Group the dataframe of all elephants on the `MovDataID` attribute into a "groupBy" object called `grpName`.

In [ ]:
grpName =

► Q4.2 List the count of observations for each elephant

### Demonstrations: Transforming/pivoting data

In [ ]:
#Add an "hour" column to the data 
df['Hour'] = df['Fixtime'].dt.hour

Pivot the data such that: 
* Each each unique`MovDataID` value becomes a row
* Each unique `Hour` value becomes a column
* The table shows median X values for each combination of elephant (MovDataID) in each hour

In [ ]:
#Pivot data
df.pivot_table(index='MovDataID',
               columns='Hour',
               values=['X'],
               aggfunc='median'
              )